
.rolling-dice-top-container {
    background-color: darkgreen;
    border: 4px solid black;
    border-radius: 0.5em;
    max-width: 480px;
    padding: 0.15em;
    margin-bottom: 0.25em;
}

.button-roll-dice{
    margin-top: 0.4em;
    background-color: #EEEEEE;
    border: 2px solid #333333;
    color: DarkBlue;
    padding: 0.25em;
    margin-bottom: 0.25em;
    border-radius: 0.25em;
    width: 92%;
}